<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>SchoolPsych Case Management</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Navigation
        <nav class="navbar">
            <div class="title">
                <h1>Case Management</h1>
            </div>
            <div class="navlinks">
                <ul>
                    <li><a href="">Reevals<a></li>
                </ul>
            </div>
        </nav> -->
        <div class="jumbotron">
            <h1>Upcoming Reevals</h1>
            <!-- Add in the content for pulling the next month's worth of reevals -->
            <h1>Hello, {{if.Name}}{{.Name}}{{else}}there{{end}}!</h1>
        </div>
        </footer>
        </footer>
    </body>
   
</html>